<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-background-geolocation-lt"
    version="4.1.0">

    <name>BackgroundGeolocation</name>
    <description>The most sophisticated, battery-efficient background-geolocation and geofencing plugin for Cordova</description>
    <license>MIT</license>
    <keywords>cordova, phonegap, background geolocation, background, location, tracking, geofence, geofencing</keywords>

    <engines>
        <engine name="cordova" version=">=7.1.0"/>
        <engine name="cordova-android" version=">=7.0.0"/>
        <engine name="cordova-ios" version=">=4.5.0"/>
    </engines>

    <dependency id="cordova-plugin-background-fetch" version="~7.0.1" />

    <js-module src="www/BackgroundGeolocation.js" name="BackgroundGeolocation">
        <clobbers target="window.BackgroundGeolocation" />
    </js-module>
    <js-module src="www/API.js" name="API"></js-module>
    <js-module src="www/DeviceSettings.js" name="DeviceSettings"></js-module>
    <js-module src="www/Logger.js" name="Logger"></js-module>
    <js-module src="www/TransistorAuthorizationToken.js" name="TransistorAuthorizationToken"></js-module>

    <platform name="ios">
        <preference name="BACKGROUND_MODE_LOCATION" default="&lt;string&gt;location&lt;/string&gt;" />

        <!-- required background modes:  App registers for location updates -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                $BACKGROUND_MODE_LOCATION
            </array>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundGeolocation">
                <param name="ios-package" value="CDVBackgroundGeolocation"/>
            </feature>
        </config-file>

        <framework src="CocoaLumberjack" type="podspec" spec="~> 3.7.2" />
        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="libsqlite3.dylib" weak="true" />
        <framework src="libz.dylib" weak="true" />
        <framework src="src/ios/TSLocationManager.xcframework" custom="true" />
        <source-file src="src/ios/CDVBackgroundGeolocation.m" />
        <header-file src="src/ios/CDVBackgroundGeolocation.h" />
        
        <!-- background-geolocation -->
        <config-file parent="NSLocationAlwaysAndWhenInUseUsageDescription" target="*-Info.plist">
            <string>[CHANGEME] Background location tracking is required for our app so we can...</string>
        </config-file>
        <config-file parent="NSLocationAlwaysUsageDescription" target="*-Info.plist">
            <string>[CHANGEME pre-iOS11.  No longer used with iOS 12] Background location tracking is required for our app so we can...</string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" target="*-Info.plist">
            <string>[CHANGEME] Background location tracking is required for our app so we can...</string>
        </config-file>
        <config-file parent="NSMotionUsageDescription" target="*-Info.plist">
            <string>[CHANGEME] Device motion updates help determine when the device is stationary so the app can save power by turning off location-updates</string>
        </config-file>
        <!-- /background-geolocation -->
     </platform>

     <!-- android -->
    <platform name="android">
        <preference name="GOOGLE_API_VERSION" default="16.+" />
        <framework src="com.google.android.gms:play-services-location:$GOOGLE_API_VERSION"/>
        <preference name="APPCOMPAT_VERSION" default="28.+" />
        <framework src="com.android.support:appcompat-v7:$APPCOMPAT_VERSION"/>
        <preference name="OKHTTP_VERSION" default="3.12.+" />
        <framework src="com.squareup.okhttp3:okhttp:$OKHTTP_VERSION"/>
        <preference name="EVENTBUS_VERSION" default="3.0.0" />
        <framework src="org.greenrobot:eventbus:$EVENTBUS_VERSION"/>

        <framework src="com.intentfilter:android-permissions:0.1.8"/>
        <framework src="org.slf4j:slf4j-api:1.7.25"/>
        <framework src="com.github.tony19:logback-android:2.0.0"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/libs/com/transistorsoft/tslocationmanager" target="../../libs/com/transistorsoft/tslocationmanager" />

        <resource-file src="src/android/libs/com/transistorsoft/tslocationmanager-reverse" target="../../libs/com/transistorsoft/tslocationmanager-reverse" />

        <source-file src="src/android/CDVBackgroundGeolocation.java" target-dir="src/com/transistorsoft/cordova/bggeo" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundGeolocation">
                <param name="android-package" value="com.transistorsoft.cordova.bggeo.CDVBackgroundGeolocation"/>
            </feature>
        </config-file>
        
        <!-- background-geolocation -->
        <config-file parent="/manifest/application" target="app/src/main/AndroidManifest.xml">
            <meta-data
                android:name="com.transistorsoft.locationmanager.license_key"
                android:value="YOUR_LICENSE_KEY_HERE" />
        </config-file>
        <!-- /background-geolocation -->
     </platform>

     <!-- Browser (mock) -->
     <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundGeolocation"></feature>
        </config-file>
        <js-module src="src/browser/BackgroundGeolocationMock.js" name="BackgroundGeolocationMock">
            <runs/>
        </js-module>
     </platform>

</plugin>
