<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-background-geolocation-lt"
    version="2.8.3">

    <name>BackgroundGeolocation</name>
    <description>The most sophisticated, battery-efficient background geolocation and geofencing plugin for Cordova</description>
    <license>MIT</license>
    <keywords>cordova, phonegap, background geolocation, background, geolocation, location, tracking, geofencing, geofence</keywords>

    <engines>
        <engine name="cordova" version=">=5.0.0" />
    </engines>

    <dependency id="cordova-plugin-background-fetch" version="~5.0.0" />

    <js-module src="www/BackgroundGeolocation.js" name="BackgroundGeolocation">
        <clobbers target="window.BackgroundGeolocation" />
    </js-module>

     <platform name="ios">
        <preference name="BACKGROUND_MODE_LOCATION" default="&lt;string&gt;location&lt;/string&gt;" />
        <preference name="LOCATION_ALWAYS_USAGE_DESCRIPTION" default="Background location-tracking is required" />
        <preference name="LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION" default="Background location-tracking is required" />
        <preference name="MOTION_USAGE_DESCRIPTION" default="Using the accelerometer increases battery-efficiency by intelligently toggling location-tracking only when the device is detected to be moving" />

        <dependency id="cordova-plugin-cocoalumberjack" version="~0.0.4" />
        <!-- required background modes:  App registers for location updates -->
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                $BACKGROUND_MODE_LOCATION
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationAlwaysUsageDescription">
            <string>$LOCATION_ALWAYS_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>$LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="*-Info.plist" parent="NSMotionUsageDescription">
            <string>$MOTION_USAGE_DESCRIPTION</string>
        </config-file>

        <config-file target="config.xml" parent="/*">
            <feature name="BackgroundGeolocation">
                <param name="ios-package" value="CDVBackgroundGeolocation"/>
            </feature>
        </config-file>

        <framework src="AudioToolbox.framework" weak="true" />
        <framework src="SystemConfiguration.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="libsqlite3.dylib" weak="true" />
        <framework src="libz.dylib" weak="true" />
        <framework src="src/ios/TSLocationManager.framework" custom="true" />
        <source-file src="src/ios/CDVBackgroundGeolocation.m" />
        <header-file src="src/ios/CDVBackgroundGeolocation.h" />
     </platform>

     <!-- android -->
    <platform name="android">
        <preference name="LICENSE" default="YOUR_LICENSE_KEY" />
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.transistorsoft.locationmanager.license" android:value="$LICENSE" />
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <resource-file src="src/android/libs/tslocationmanager.aar" target="src/android/libs/tslocationmanager.aar" />

        <source-file src="src/android/CDVBackgroundGeolocation.java" target-dir="src/com/transistorsoft/cordova/bggeo" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BackgroundGeolocation">
                <param name="android-package" value="com.transistorsoft.cordova.bggeo.CDVBackgroundGeolocation"/>
            </feature>
        </config-file>
     </platform>
</plugin>
